<div [formGroup]="editForm" class="container">
  <header>
    <span [mat-dialog-close]="false" class="material-icons">close</span>
  </header>

  <app-text-input
    [inputFormGroup]="editForm"
    [inputFormControlName]="'todo'"
  ></app-text-input>

  <div class="actions">
    <app-button (click)="onSave()" [color]="'primary'">Save</app-button>
    <app-button [mat-dialog-close]="false" [color]="'accent'"
      >cancel</app-button
    >
  </div>
</div>
