<table>
  <tr>
    <th *ngIf="dataSource.length">
      <app-table-checkbox
        [checked]="headerChecked"
        (emitId)="getHeaderCheckedEvent($event)"
      ></app-table-checkbox>
    </th>
    <th *ngFor="let item of config.headers">{{ item }}</th>
  </tr>
  <tr
    *ngFor="let item of dataSource"
    [ngStyle]="{
      'text-decoration': item.status == 'Done' ? 'line-through' : 'none'
    }"
  >
    <td *ngIf="dataSource.length">
      <app-table-checkbox
        [checked]="checked"
        *ngIf="item.status != 'Done'; else empty"
        (emitId)="getRowId($event)"
        [rowId]="item.id"
      ></app-table-checkbox>
    </td>
    <td>{{ item.id }}</td>
    <td>{{ item.title }}</td>
    <td>{{ item.status }}</td>
    <td>
      <button
        (click)="operation.action(item)"
        [style.color]="operation.color"
        *ngFor="let operation of config.operations"
        mat-button
      >
        <span class="material-icons">{{ operation.icon }} </span>
      </button>
    </td>
  </tr>
</table>
<footer *ngIf="selectedRows.length">
  <button
    (click)="operation.action(selectedRows)"
    *ngFor="let operation of config.footerOperations"
    [color]="operation.color"
    mat-button
  >
    <span *ngIf="operation.icon" class="material-icons"
      >{{ operation.icon }}
    </span>
    <span *ngIf="operation.text">{{ operation.text }} </span>
  </button>
</footer>

<ng-template #empty>
  <div></div>
</ng-template>
