@import "src/assets/themes/sizes";
@import "src/assets/themes/colors";
table {
  width: 100%;
  border: 1px solid #ccc;
}
th,
td {
  text-align: center;
  font-size: 1.6rem;
}

tr {
  height: $tr-height;
}

tr:nth-child(1) {
  background-color: $table-header;
}

tr:nth-child(2n + 3) {
  background-color: $table-odd-rows-background-color;
}

tr:nth-child(even):hover {
  background-color: $table-even-rows-background-color;
}

footer {
  height: $table-footer-height;
  background-color: $table-footer-background-color;
  color: $table-footer-color;
  padding: $p-16 $p-2;
}
