<div class="container">
  <header>
    <span [mat-dialog-close]="false" class="material-icons">close</span>
  </header>
  <h2>{{ title }}</h2>

  <div class="actions">
    <app-button [mat-dialog-close]="true" [color]="'primary'">Yeap!</app-button>
    <app-button [mat-dialog-close]="false" [color]="'accent'"
      >cancel</app-button
    >
  </div>
</div>
