<div [formGroup]="inputFormGroup">
  <mat-form-field appearance="fill">
    <mat-label>{{ lablel }}</mat-label>
    <input
      autocomplete="off"
      [formControlName]="inputFormControlName"
      matInput
    />
  </mat-form-field>
</div>
