<div class="container">
  <form (ngSubmit)="addTodo()" [formGroup]="todoForm">
    <app-text-input
      [lablel]="'Todo'"
      [inputFormGroup]="todoForm"
      [inputFormControlName]="'todo'"
    >
    </app-text-input>
    <button
      [disabled]="todoForm.invalid"
      mat-raised-button
      color="primary"
      type="submit"
      mat-button
    >
      Add
    </button>
  </form>

  <app-table
    #table
    [config]="tableConfig"
    (selectedRowsEvent)="getSelectedRows($event)"
  ></app-table>
</div>
