@import "src/assets/themes/sizes";

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: $p-32;
}

form {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

app-table {
  width: 90%;
}
