/* You can add global styles to this file, and also import other style files */

:root {
  font-size: 0.625rem;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
